/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 
  上面是清除各浏览器，样式差异化
*/

a,
a:focus,
a:hover {
  text-decoration: none;
}

a {
  display: block;
}

img {
  max-width: 100%;
}

body {
  background-color: white;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue,
  Helvetica,
  PingFang SC,
  Hiragino Sans GB,
  Microsoft YaHei,
  Arial,
  sans-serif;
}

div,
ul,
li {
  background: rgba(0, 0, 0, 0.1);
}
.pv20 {
  padding: 0 20px;
}
.pv10 {
  padding: 0 10px;
}
.ph10 {
  padding: 10px 0;
}
.mt30 {
  margin-top: 30px;
}
.mr10 {
  margin-right: 10px;
}
.ml10 {
  margin-left: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.mh100 {
  margin: 100px 0;
} 
.mh60 {
  margin: 60px 0;
}
.font_orange {
  color: #F29021;
}
.font_blue {
  color: #0099ff;
}
.p30 {
  padding: 30px;
}
/* 
  flex布局 
*/
.ju_Center {
  display: flex;
  justify-content: center;
}
.ju_Between {
  display: flex;
  justify-content: space-between;
}
.ju_Around {
  display: flex;
  justify-content: space-around;
}
.ju_Start {
  display: flex;
  justify-content: flex-start;
}
.ju_End {
  display: flex;
  justify-content: flex-end;
}
.al_Center {
  display: flex;
  align-items: center;
}
.Flex_Wrap {
    display: flex;
    flex-wrap: wrap;
}
.Flex_Dir {
  flex-direction: column;
  align-items: center;
}
.inner {
  max-width: 1200px;
  margin: 0 auto;
}
/* 
  以上都是公共样式 END
  web.css 正式样式 START
*/
#header_Wrap {
  width: 100%;
  height: 110px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
#header_Wrap .header_top {
  width: 100%;
  height: 30px;
  background:rgba(242, 247, 251, 1);
  color: #666;
}
#header_Wrap .header_top .fr_Login {
  display: flex;
}
#header_Wrap .header_top .fr_Login a {
  color: #666;
}
#header_Wrap .header_Bottom {
    width: 100%;
    height: 80px;
    background:rgba(0, 153, 255, 0.8);
}
#header_Wrap nav {
  display: flex;
  align-items: center;
  position: relative;
}
#header_Wrap nav a {
  font-size: 16px;
  color: #fff;
  padding: 0 32px;
  height: 80px;
  line-height: 80px;
  z-index: 1;
}
.nav_line {
  position: absolute;
  top: 0px;
  left: 0;
  width: 96px;
  height: 80px;
  background-color: #F29021;
}
#header_Wrap .logo {
  width: 240px;
  background: url(../img/logo.png)
}
h1.Process_Title {
  font-size: 48px;
  font-weight: 600;
  margin: 0 auto;
  padding: 70px 0 10px;
  color: #2c2c2c;
}
.fr_Code,
.fl_iPhone {
  padding-bottom: 100px;
}
.fr_Code h1 {
  font-size:48px;
  font-weight: 600;
  color: #2c2c2c;
  padding-bottom: 60px;
  text-align: center;
}
.fr_Code_fun {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
}
.fr_Code_fun span {
  float: left;
  width: 50%;
  display: inline-block;
  text-align: center;
  font-size: 24px;
  padding: 16px 0;
  color: #2c2c2c;
}
.row {
  display: flex;
  align-items: center;
}
.form_group {
  display: flex;
  flex-direction: column;
}
.form_Item {
  display: flex;
  align-items: flex-start;
  margin: 10px 0;
}
.form_Item label {
  display: inline-block;
  width: 160px;
  text-align: right;
  padding-top: 18px;
  color: #2c2c2c;
  font-weight: 600;
}
.form_Item label::before {
  display: inline-block;
  content: '*';
  color: #ff3333;
  margin-right: 4px;
}
.form_Item_box,
.form_Item select,
.form_Item input {
  padding-left: 10px;
  height: 50px;
  border-radius: 6px;
  border: 1px solid #bbb;
  background-color: white;
  width: 330px;
  box-sizing: border-box;
  color: #707070;
  font-size: 14px;
}
.form_Item input[type=date] {
  width: 210px;
  padding-left: 10px;
}
.form_Item select {
  width: 160px;
  margin-right: 10px;
}
.form_Item #dun {
  width: 50px;
  height: 50px;
  line-height: 48px;
  text-align: center;
  background: white;
  border: 1px solid #bbb;
  border-left: none;
  box-sizing: border-box;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  background: #0099ff;
  color: white;
}
.form_Item textarea[name=Suggestions] {
  width: 760px;
  border-radius: 6px;
      border: 1px solid #bbb;
      padding: 10px;
      line-height: 1.6;
}
.form_Item_box {
  width: 1000px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 0 60px 0 20px;
  position: relative;
}
.form_Item_box::after {
  display: block;
  content: '';
  border: 8px solid;
  border-color: #5a5a5a transparent transparent transparent;
  position: absolute;
  top: 20px;
  right: 30px;
  border-radius: 4px;
}
.form_menu span,
.form_Item_box span {
  width: 160px;
  line-height: 48px;
}
.form_menu {
  display: none;
  padding: 10px 20px 10px 20px;
  background: white;
  border-radius: 4px;
  position: absolute;
  top: 75px;
  width: 1000px;
  box-sizing: border-box;
}
.form_menu ul {
  max-height: 200px;
  overflow-y: scroll;
  padding-right: 40px;
}
.form_menu li {
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  color: #515151;
}
.form_menu li:hover {
  background: rgba(0, 153, 255, 0.1);
}
.card {
  padding: 10px;
  margin-top: 30px;
  box-sizing: border-box;
  border: 1px solid #c6c6c6;
}
.card_Title {
  align-items: center;
  display: flex;
  font-size: 18px;
  padding: 24px 0;
  color: #2c2c2c;
  border-bottom: 1px dashed #C6C6C6;
}
h2.card_Title {
  display: flex;
  justify-content: space-between;
  color: #2c2c2c;
  font-size: 24px;
  font-weight: 600;
  padding-left: 20px;
}
.btn_group {
  display: flex;
  justify-content: center;
  padding: 60px 0;
}
.btn_style {
  font-size: 18px;
  display: inline-block;
  width: 170px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 4px;
  background:rgba(0, 153, 255, 1);
  color: white;
  transition:All 0.4s ease-in-out;
  cursor: pointer;
  margin: 0 10px;
  font-weight: 600;
}
.btn_style:hover {
  background:rgba(0, 127, 255, 1);
}
.btn_style_white {
  font-size: 18px;
  margin: 0 10px;
  display: inline-block;
  width: 170px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 4px;
  background: white;
  color: rgba(0, 153, 255, 1);
  border: 1px solid #0099ff;
  transition: All 0.4s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}
.btn_style_orange {
  margin: 0 10px;
  display: inline-block;
  padding: 16px 48px;
  border-radius: 4px;
  background:#F29021;
  color: white;
  border: 1px solid #F29021;
  transition: All 0.4s ease-in-out;
  cursor: pointer;
}
.sildeToggle_Btn {
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: white;
  position: absolute;
  left: calc(50% - 60px);
  border: 1px solid #c6c6c6;
  border-top: none;
  margin-top: 9px;
  cursor: pointer;
}
.sildeToggle_Btn span {
  padding-right: 8px;
}
.start {
  width: 26px;
  height: 26px;
  line-height: 26px;
  margin: 0 20px;
  text-align: center;
  border: 1px solid #6db827;
  border-radius: 50%;
}
.start::after {
  display: block;
  content: '起';
  color: #6db827;
  font-size: 12px;
}
.end {
  width: 26px;
  height: 26px;
  line-height: 26px;
  margin: 0 20px;
  text-align: center;
  border: 1px solid #f04d46;
  border-radius: 50%;
}
.end::after {
  display: block;
  content: '终';
  color: #f04d46;
  font-size: 12px;
}
.Invoice {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  color: #515151;
  padding-top: 10px;
}
.Invoice_Item {
  width: 290px;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
}
.waybill_Item {
  width: 450px;
  /* height: 50px; */
  line-height: 50px;
  padding: 0 20px;
}
.Invoice_Item span,
.waybill_Item dt {
  color: #2c2c2c;
  font-weight: 600;
  display: inline-block;
}
.waybill_Item dd {
  display: inline-block;
  color: #0099ff;
}
.tab_Title {
  color: #2c2c2c;
  font-size:18px;
  border-bottom: 1px solid #CCCCCC;
  position: relative;
}
.tab_Title li {
  width: calc(100% / 7);
  text-align: center;
  padding: 30px 0;
  cursor: pointer;
  font-weight: 600;
}
.tab_Title li.cur {
  color: #F29021;
}

.tab_line {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #F29021;
}
.siderBar_left {
  width: 180px;
}
.siderBar_Item {
  width: 180px;
  height: 40px;
  line-height: 40px;
  color: #8a8a8a;
  cursor: pointer;
  font-size: 18px;
}
.siderBar_Item i.iconfont {
  font-size: 18px;
  padding: 0 6px 0 20px;
  color: #8a8a8a;
}
.siderBar_Item.cur {
  background: #0099ff;
  color: #fff;
}
.siderBar_Item.cur i.iconfont {
  color: white;
}
.content_right {
  width: 1000px
}
.user_padding {
  padding: 40px;
}
.user_Pic {
  width: 110px;
  height: 110px;
  text-align: center;
  line-height: 110px;
  border: 1px solid #0099ff;
  border-radius: 50%;
}
.user_Cont {
  width: 700px;
}
.user_Info {
  height: 110px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #2c2c2c;
}
.user_Info strong {
  font-weight: 600;
}
.user_Info span {
  font-weight: 400;
}
.user_Info em {
  color: #0099ff;
  cursor: pointer;
}
.user_Intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.user_Intro_Item {
  display: flex;
  justify-content: space-between;
  width: 300px;
  align-items: center;
}
.user_Intro_Item input {
  border: 1px solid white;
}
.user_Intro_Item input:focus {
  outline: none;
  /* 清除点击时默认的蓝色焦点框 */
  border-style: solid;
  border-color: rgba(0, 153, 255, 1);
  box-shadow: 0 0 4px #0099ff;
}
.user_Vip {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.line {
  width:100%;
  height:2px;
  background:#c6c6c6;
}
.user_Photo {
  margin-top: 40px;
}
.user_Photo h6 {
  font-weight: 600;
  color: #2c2c2c;
  margin-bottom: 20px;
}
.user_Photo_group {
  display: flex;
  justify-content: flex-start;
}
.user_Photo_Item {
  width:220px;
  height:140px;
  margin-right: 60px;
  background:rgba(255, 255, 255, 1);
  border:1px solid rgba(153, 153, 153, 1);
  border-radius: 8px;
}
.user_Photo_Item img {
  width: 220px;
  height: 140px;
  border-radius: 8px;
  position: absolute; 
}
.table_bordered {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}
.table_bordered th,
.table_bordered td {
  border: 1px solid #DBDBDB;
  padding: 14px 20px;
}
.table_bordered td span {
  cursor: pointer;
}
.form_check {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #515151;
}
.form_check_input {
  width: 22px;
  height: 22px;
  border: 1px solid #0099ff;
  cursor: pointer;
}
.page {
  padding: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #515151;
}
.page li {
  line-height: 40px;
  text-align: center;
  min-width: 40px;
  height: 40px;
  margin: 0 4px;
  border-radius: 4px;
  border: 1px solid #999;
  cursor: pointer;
}
.page li.cur {
  color: white;
  background: #0099ff;
  border: 1px solid #0099ff;
}
.page input.skip {
  text-align: center;
  height: 34px;
  border-radius: 4px;
  border: 1px solid #bbb;
  width: 60px;
}
.page input.skip:focus {
  outline: none;
  /* 清除点击时默认的蓝色焦点框 */
  border-style: solid;
  border-color: rgba(0, 153, 255, 1);
  box-shadow: 0 0 4px #0099ff;
}
.cargoInfo_Item {
  width: 50%;
  padding: 30px 0;
  display: flex;
  justify-content: space-around;
}
.cargoInfo_Item i.iconfont {
  font-size: 90px;
  color: #0099ff;
}
.cargoInfo_Item dl dt {
  font-size: 16px;
  color: #2c2c2c;
  font-weight: 600;
  line-height: 3;
  width: 112px;
  text-align: right;
}
.cargoInfo_Item dl dd {
  font-size: 16px;
  color: #707070;
  font-weight: 600;
  line-height: 3;
}
.cargoInfo_Item dl dd span {
  padding: 0 6px;
}
.cargoInfo_Cont {
  width: 400px;
}
.cargoInfo_Cont input {
  border: 1px solid #fff;
  color: #707070;
  padding: 2px 6px;
}
.bankCard {
  width:400px;
  height:230px;
  background:rgba(255, 255, 255, 1);
  border-radius: 6px;
  box-sizing: border-box;
  margin: 15px;
}
.bankCard img {
    width:400px;
    height:230px;
    border-radius: 6px;
}
.bankCard_Info {
  margin-top: 10px;
  color: #515151;
}
.bankCard_Info p {
  line-height: 1.8;
}
.card_Del {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
  border-top: 1px solid #eeee;
}
.card_Del .card_DelBtn {
  width:108px;
  height:44px;
  line-height: 44px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background:rgba(0, 153, 255, 1);
  border-radius:6px;
}
.bankName {
  color: #2c2c2c;
  font-size: 20px;
}
.card_Kind {
  background: #a2bfe1;
  padding: 6px 14px;
  border-radius: 4px;
  color: white;
  border: 1px solid #98b0d6;
}
.login_Modal {
    position: fixed;
    top: 200px;
    left: calc(50% - 190px);
    width: 380px;
    background:rgba(255, 255, 255, 0.6);
    border-radius:10px;
    z-index: 2;
    padding: 40px;
    box-sizing: border-box;
}
.login_From_Item {
  display: flex;
  align-items: center;
  width: 300px;
  height: 44px;
  margin-bottom: 20px;
  border-radius: 4px;
  background: #fff;
}
.login_Btn {
  width: 300px;
  height: 44px;
  line-height: 44px;
  text-align: center;;
  border-radius: 4px;
  color: #fff;
  background: #0099ff;
  cursor: pointer;
}
.login_From_Item i {
  font-size: 28px;
  color: #707070;
  width: 50px;
  text-align: center;
  border-right: 1px solid #CCC;
}
.login_From_Item input {
  margin-left: 10px;
  border: none;
  color: #707070;
  border: 1px solid white;
}
.login_From_Item input:focus {
  border-color: white;
  box-shadow: none;
}
.login_Protocol {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.login_Protocol input[type=checkbox] {
  width: 20px;
  height: 20px;
  opacity: 0;
  position: absolute;
}
.login_Protocol .login_checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;  
}
.login_Protocol .checkbox {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  margin: 0 8px;
  border: 1px solid #0099ff;
  box-sizing: border-box;
  cursor: pointer;
}
.login_Protocol .checkbox i {
  font-size: 19px;
  color: #0099ff;
  display: none;
}
.login_Tab {
  display: flex;
  justify-content: space-around;
  align-items: center;  
  height: 24px;
  margin-bottom: 20px;
  font-size: 16px;
}
.login_Tab span {
  cursor: pointer;
  transition:All 0.2s ease-in-out;
  width: 100px;
  text-align: center;
}
.login_Tab span.cur {
  transition:All 0.2s ease-in-out;
  font-size: 24px;
}
.Forgot_Password {
  color: #0099ff;
  margin-bottom: 10px;
  text-align: right;
}
.Verification_Code {
  border: none;
  margin-left: 10px;
  background: linear-gradient(0deg, rgba(195, 195, 195, 1) 0%, rgba(255, 255, 255, 1) 100%);
  height: 50px;
  color: #2c2c2c;
  border:1px solid rgba(207, 207, 207, 1);
  box-sizing: border-box;
}
.Verification_Code:focus {
  outline: none;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 240px;
  color: #fff;
  padding-top: 30px;
  box-sizing: border-box;
  background: #252829;
}
footer dt {
  font-size: 18px;
  margin-bottom: 44px;
}

footer dd {
  font-size: 14px;
  margin-bottom: 22px;
}

footer .copy {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.8;
  margin-top: 8px;
}


select:focus,
input:focus {
  outline: none;
  /* 清除点击时默认的蓝色焦点框 */
  border-style: solid;
  border-color: rgba(0, 153, 255, 1);
  box-shadow: 0 0 4px #0099ff;
}
input::-webkit-input-placeholder {
  /* placeholder颜色  */
  color: #707070;
  /* placeholder字体大小  */
  font-size: 14px;
  /* placeholder位置  */
}



/* 星级评价 start */

.star_content {
  width: 280px;
  margin: 0 auto;
}

.star_score {
  background: url(../img/stark2.png);
  width: 160px;
  height: 21px;
  position: relative;
}

.star_score a {
  height: 21px;
  display: block;
  text-indent: -999em;
  position: absolute;
  left: 0;
}

.star_score a:hover {
  background: url(../img/stars2.png);
  left: 0;
}

.star_score a.clibg {
  background: url(../img/stars2.png);
  left: 0;
}
/* 星级评价 end */